html {
  font-size: 20px;
}
body {
    font-family: "Arial", "Meiryo", sans-serif;
    text-align: center;
  }
h1 {
  font-size: 2rem;
  letter-spacing: 1.2em;
  text-shadow: 1px 1px 2px gray;
  border-bottom: 3px solid rgb(115, 115, 114);
}
.text_m {
  color: skyblue;
}
.text_p {
  color: rgb(255, 192, 203);
}
#basic p {
  font-weight: bold;
}
 